[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = iotmqtt.local

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = iotmqtt.local
IP.1 = 10.11.12.13
